/* screen - menu */

.border-1px-dodger-blue {
  border: 1px solid var(--dodger-blue);
}
.menu {
  background-color: rgba(80,80,80,0.2);
  height: 812px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}
.menu .blog-C61RwL {
  background-color: transparent;
  height: auto;
  left: 155px;
  letter-spacing: 0.00px;
  line-height: 34.8px;
  position: absolute;
  text-align: left;
  top: 256px;
  white-space: nowrap;
  width: auto;
}
.menu .contact-C61RwL {
  background-color: transparent;
  height: auto;
  left: 155px;
  letter-spacing: 0.00px;
  line-height: 34.8px;
  position: absolute;
  text-align: left;
  top: 331px;
  white-space: nowrap;
  width: auto;
}
.menu .group-3-WTCLB3 {
  background-color: transparent;
  height: 19px;
  left: 11px;
  position: absolute;
  top: 11px;
  width: 18px;
}
.menu .icnexitblack-C61RwL {
  background-color: transparent;
  height: 40px;
  left: 319px;
  position: absolute;
  top: 20px;
  width: 40px;
}
.menu .product-C61RwL {
  background-color: transparent;
  height: auto;
  left: 155px;
  letter-spacing: 0.00px;
  line-height: 34.8px;
  position: absolute;
  text-align: left;
  top: 181px;
  white-space: nowrap;
  width: auto;
}
.menu .rectangle-15-WTCLB3 {
  background-color: transparent;
  height: 40px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 40px;
}
.menu .rectangle-34-C61RwL {
  background-color: var(--white);
  height: 812px;
  left: 115px;
  position: absolute;
  top: 0px;
  width: 260px;
}
.menu .team-C61RwL {
  background-color: transparent;
  height: auto;
  left: 155px;
  letter-spacing: 0.00px;
  line-height: 34.8px;
  position: absolute;
  text-align: left;
  top: 106px;
  white-space: nowrap;
  width: auto;
}
.menu .vector-8-YtqLxd {
  background-color: transparent;
  height: 21px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 21px;
}
.menu .vector-9-YtqLxd {
  background-color: transparent;
  height: 21px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 21px;
}
.notosanscjkkr-bold-dodger-blue-24px {
  color: var(--dodger-blue);
  font-family: 'Noto Sans CJK KR-Bold', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.notosanscjkkr-light-black-14px {
  color: var(--black);
  font-family: 'Noto Sans CJK KR-Light', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
}
.notosanscjkkr-medium-dodger-blue-12px {
  color: var(--dodger-blue);
  font-family: 'Noto Sans CJK KR-Medium', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}
.roboto-bold-black-24px {
  color: var(--black);
  font-family: 'Roboto', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.roboto-light-stack-12px {
  color: var(--stack);
  font-family: 'Roboto', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
}
:root {
  --black: rgba(0,0,0,1.0);
  --dodger-blue: rgba(31,149,255,1.0);
  --stack: rgba(139,139,139,1.0);
  --white: rgba(255,255,255,1.0);
  --zircon: rgba(247,252,255,1.0);
}
